[Unit]
Description=Home Assistant daemon
After=mariadb.service network-online.target
StartLimitIntervalSec=0

[Service]
User=homeassistant
ExecStart=/srv/homeassistant/bin/hass \
        -c "/home/homeassistant/.homeassistant"
SyslogIdentifier=hass
StandardOutput=null
StandardError=null
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target