[Unit]
Description=Home Assistant daemon
After=mariadb.service network-online.target

[Service]
User=homeassistant
ExecStart=/srv/homeassistant/bin/hass \
        --config /home/homeassistant/data
SyslogIdentifier=hassio
StandardOutput=null

[Install]
WantedBy=multi-user.target