[Unit]
Description=Home Assistant daemon
After=mariadb.service network-online.target

[Service]
Type=simple
User=homeassistant
ExecStart=/srv/homeassistant/bin/hass \
    -c "/home/homeassistant/.homeassistant"
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=hass

[Install]
WantedBy=multi-user.target